<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <% @offers.each do |offer| %>
      <div class="card-trip  ">
        <div>
          <%= cl_image_tag offer.image.key, class: "card-image-index" if offer.image.key%>
        </div>
        <br>

        <div class="card-trip-infos">
          <div>
           <h2><%= offer.product_name %></h2>
          </div>

          <h2 class="card-trip-pricing">$<%= offer.price %></h2>

        </div>
        <br>

        <div>
          <%= link_to 'Details', offer,class:"btn btn-outline-primary rounded-4 ms-2 mb-2" %>
          <br>
        </div>
      </div>
    <% end %>
  </div>
</div>

        <%# link_to 'Edit', edit_offer_path(offer) %>
        <%# link_to 'Destroy', garden, method: :delete, data: { confirm: 'Are you sure?' } %>

<br>
