<p id="notice"><%= notice %></p>

<div class="text-center">
  <h3 >Moving in?</h4>
  <h4>Find the best products here!</h4>
</div>


<div class="row mt-3 ps-3">
  <% @offers.each do |offer| %>
    <div class="card-trip" style="width: 18rem;">
      <%= cl_image_tag offer.image.key if offer.image.key%>
      <div class="card-trip-infos">
        <div>
          <h2><%= offer.product_name %></h2>
        </div>
        <h2 class="card-trip-pricing">$<%= offer.price %></h2>
      </div>
      <div class=>
        <p><%= link_to 'Details', offer,class:"btn btn-info rounded-3" %></p>
        <br>
      </div>
    </div>
</div>
        <%# link_to 'Edit', edit_offer_path(offer) %>
        <%# link_to 'Destroy', garden, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>

<br>
