<br>
<div class="container">
  <div class="d-flex justify-content-around align-items-center">
    <div class="card" style="width: 24rem;">
      <%= cl_image_tag @offer.image.key, height: 300, width: 382, crop: :fill %>
      <div class="card-body">
        <h5 class="card-title"><%= @offer.product_name %></h5>
        <p class="card-text"><%= @offer.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">$ <%= @offer.price.to_i%>.00</li>
        <li class="list-group-item"><%= @offer.location %></li>
      </ul>
      <% if @offer.user_id == current_user.id %>
        <div class="card-body d-flex justify-content-between">
      <% else %>
        <div class="card-body d-flex justify-content-center">
      <% end %>
        <% if @offer.user_id == current_user.id %>
          <%= link_to 'Delete', offer_path(@offer), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to 'Edit', edit_offer_path(@offer), class:"btn btn-primary" %>
        <% else %>
          <%= link_to "Buy now", offer_path(@offer, offer: {available: false}), method: :patch, class: " btn btn-success",  data: { confirm: 'Thank you for your purchasing!' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
