<div class="card" style="width: 24rem;">
  <%= cl_image_tag @offer.image.key, height: 300, width: 382, crop: :fill %>
  <div class="card-body">
    <h5 class="card-title"><%= @offer.product_name %></h5>
    <p class="card-text"><%= @offer.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">$ <%= @offer.price %></li>
    <li class="list-group-item"><%= @offer.location %></li>
  </ul>
  <div class="card-body d-flex justify-content-between">
    <%= link_to 'Go Back to Offers', offers_path, class:"btn btn-primary rounded-4"  %>
    <%= link_to 'Edit', edit_offer_path(@offer), class:"btn btn-primary rounded-4" %>
    <%# <% link_to 'Destroy', method: :delete, data: { confirm: 'Are you sure?' }, %>
  </div>
</div>
